<div class="home-body-main">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand marca" href="/">
                    <span>
                        <img alt="FelinoTweets logo" src="/assets/favicon/favicon-32x32.png"/>
                    </span>
          <a class="navbar-brand brand" href="/main">FelinoTweets</a>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <a class="navbar-brand navbar-buttons" href="/home">
          <span class="glyphicon glyphicon-home"></span>  Home</a>
        <a class="navbar-brand navbar-buttons" href="/homeStats">
          <span class="glyphicon glyphicon-stats"></span>  Estadísticas</a>
        <a class="navbar-brand navbar-buttons barraSelected" href="/account">
          <span class="fa fa-at"></span>{{userInfo.accountName}}</a>
        <form class="navbar-form navbar-right">
          <a href="/profile" class="btn btn-default">Mi cuenta</a>
          <a href="/" ng-click="logOut()" class="btn btn-danger">Salir</a>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <div class="site-wrapper" id="home-wrap">
    <div class="container homeMainView">
      <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="input-group" ng-show="!isTweeting()">
              <span class="input-group-addon imagenTweet" id="sizing-addon2"><img class="imagenTweetImg" src={{userInfo.imgLink}}/></span>
              <input ng-click="setTweeting(true)" type="text" class="form-control formTweet" value="¿Qué está pasando?">
            </div>

            <div class="input-group formTweetExpanded" ng-show="isTweeting()">
              <textarea ng-change="contarCaracteres()" ng-trim="false" class="form-control formTweetExpanded" rows="3" autofocus placeholder="¿Qué está pasando?" style="resize:none" ng-model="tweet.text">
              </textarea>
            </div>
            <div class="row caja" ng-show="isTweeting()">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 account-programar-tweet">
                <div class="fechaTiempo">
                  <span ng-click="setTweeting(false)" class="btn glyphicon glyphicon-menu-up menuarriba"></span>
                  <label>Programar tweet: </label>
                  <input id="input-datetime-local" ng-model="tweet.date" type="datetime-local" value="">
                  <span class="result"></span>
                </div>
              </div>
              <div class="col-lg-offset-3 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-12 dentrocaja">
                <div class="row account-tweet-button-row dentrocaja">
                  <div ng-show="!isSendingTweet()" class="col-md-1 col-md-offset-3 col-sm-1 col-sm-offset-2 col-xs-offset-1 col-xs-1 caracteresRestantesCol">
                    <span>
                      <p class="caracteresRestantes">
                       {{caracteres}} &nbsp &nbsp
                      </p>
                    </span>
                  </div>
                  <div class="col-xs-6 col-md-1 col-sm-1 ">
                    <button ng-show="!isSendingTweet()" ng-disabled="cantTweet()"
                            ng-click="postTweet()" class="btn btn-primary botonEnviar"><i class="fa fa-twitter"
                                                                                          aria-hidden="true"></i>
                      Twittear
                    </button>
                    <button ng-show="isSendingTweet()"
                            class="btn btn-primary botonEnviar"><i class="fa fa-spinner fa-spin fa-fw fa-lg" ></i>
                      Enviando
                    </button>
                  </div>
                </div> <!-- Row for both elements -->
              </div> <!-- Col for characters remaining and button -->
            </div> <!-- Row under text for tweet -->
          </div>
        </div>
      </div>

      <!-- Home Panel -->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-primary panel-twitter">
          <div class="panel-heading home-panel-heading">
            <div class="container homePanelRow">
                <div class="col-xs-12 homePanelRow">
                  <div class="homeIconDiv">
                    <span class="glyphicon glyphicon-home homeGlifaiconsCols"></span>
                  </div>
                  <div class="homeCurrentAccountText">
                    Home
                  </div>
                </div>
            </div>
          </div>
          <div class="panel-body home-panel-body">
            <div class="container homePanelRow">
              <div class="col-xs-12 homeZeroPadding">
                <ul class="list-group">
                  <li class="placeForButton" ng-show="userInfo.homePanel.hasNewTweets">
                    <button ng-show="userInfo.homePanel.hasNewTweets" type="button" ng-click="showNewTweets('home','none')" class="btn btn-primary btn-md center-block botonNuevosTweets">
                      <i class="fa fa-twitter" ng-show="userInfo.homePanel.hasNewTweets"></i>
                      {{userInfo.homePanel.newTweetsList.length}} new tweets
                    </button>
                  </li>
                  <li class="list-group-item homeZeroPadding" ng-repeat="tweet in userInfo.homePanel.tweets">
                    <div class="homeTwitImgDiv">
                      <a href="https://twitter.com/{{tweet.author}}">
                        <img src={{tweet.imgLink}} class="imgPanel img-responsive" alt="Cinque Terre">
                      </a>
                    </div>
                    <div class="homeTwitUser" linkify="twitter">
                      <span class="homeTwitName">
                          <a href="https://twitter.com/{{tweet.author}}">{{tweet.name}}</a>
                      </span>
                        @{{tweet.author}}
                    </div>
                    <p class="homeTwitText" linkify="twitter">
                      {{tweet.text}}
                    </p>
                    <!-- RT button -->
                    <div class="homeTwitButtons">

                      <!--Reply button-->
                        <button class="homeGlifaiconsRes" ng-click="replyDialog(tweet.tweetID, tweet.author, tweet.name)">
                          <i class="fa fa-reply homeGlifaiconsRES" aria-hidden="true"></i>
                        </button>

                      <span class="homeGlifaiconsRTNolink" ng-show="isSameUserAndAuthor(userInfo.accountName,tweet.author)">
                        <span class="glyphicon glyphicon-retweet homeGlifaiconsRTNoLink">
                        </span>
                        {{tweet.nRetweets}}
                      </span>

                      <button class="homeGlifaiconsNoRT" ng-click="createRetweet(tweet.tweetID,userInfo.accountID,tweet)" ng-show="RThasToShow(userInfo.accountName, tweet.author, tweet.rted, 1)">
                        <span class="glyphicon glyphicon-retweet">
                        </span>
                        {{tweet.nRetweets}}
                      </button>

                      <button class="homeGlifaiconsRT" ng-click="deleteRetweet(tweet.tweetID,userInfo.accountID,tweet)" ng-show="RThasToShow(userInfo.accountName, tweet.author, tweet.rted, 2)">
                        <span class="glyphicon glyphicon-retweet">
                        </span>
                        {{tweet.nRetweets}}
                      </button>

                      <!-- Fav button -->
                      <button class="homeGlifaiconsNoFAV" ng-click="createFav(tweet.tweetID, userInfo.accountID,tweet)" ng-show="!tweet.liked">
                        <span class="glyphicon glyphicon-heart">
                        </span>
                        {{tweet.nLikes}}
                      </button>

                      <button class="homeGlifaiconsFAV" ng-click="deleteFav(tweet.tweetID, userInfo.accountID,tweet)" ng-show="tweet.liked">
                        <span class="glyphicon glyphicon-heart">
                        </span>
                        {{tweet.nLikes}}
                      </button>
                      <!-- Tweet Info. Always shows up -->
                      <a class="homeGlifaiconsINFO" href={{tweet.tweetLink}} target="_blank">
                        <span class="glyphicon glyphicon-time homeGlifaiconsINFO">
                        </span>
                        {{tweet.date}}
                      </a>
                    </div>
                  </li>
                  <li>
                    <button ng-show="userInfo.homePanel.hasMore" type="button" ng-click="loadMore('home','none')" class="btn btn-primary btn-md center-block" ng-disabled="isLoading('home','none')">
                      <i class="fa fa-spinner fa-spin fa-fw fa-lg" ng-show="isLoading('home','none')"></i>
                      <i class="fa fa-twitter" ng-show="!isLoading(userInfo.homePanel.mongoID)"></i>
                      Load more
                    </button>
                    <i class="fa fa-twitter center-block fa-center-icon" ng-show="!userInfo.homePanel.hasMore"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- Panel twitter -->
      </div> <!-- Col -->

      <!-- Own tweets panel -->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-primary panel-twitter">
          <div class="panel-heading home-panel-heading">
            <div class="container homePanelRow">
                <div class="col-xs-12 homePanelRow">
                  <div class="homeIconDiv">
                    <span class="glyphicon glyphicon-list-alt homeGlifaiconsCols"></span>
                  </div>
                  <div class="homeCurrentAccountText">
                    Mis Tweets
                  </div>
                </div>
            </div>
          </div>
          <div class="panel-body home-panel-body">
            <div class="container homePanelRow">
              <div class="col-xs-12 homeZeroPadding">
                <ul class="list-group">
                  <li class="placeForButton" ng-show="userInfo.TLPanel.hasNewTweets">
                    <button ng-show="userInfo.TLPanel.hasNewTweets" type="button" ng-click="showNewTweets('timeline','none')" class="btn btn-primary btn-md center-block botonNuevosTweets">
                      <i class="fa fa-twitter" ng-show="userInfo.TLPanel.hasNewTweets"></i>
                      {{userInfo.TLPanel.newTweetsList.length}} new tweets
                    </button>
                  </li>
                  <li class="list-group-item homeZeroPadding" ng-repeat="tweet in userInfo.TLPanel.tweets">
                    <div class="homeTwitImgDiv">
                      <a href="https://twitter.com/{{tweet.author}}">
                        <img src={{tweet.imgLink}} class="imgPanel img-responsive" alt="Cinque Terre">
                      </a>
                    </div>
                    <div class="homeTwitUser" linkify="twitter">
                      <span class="homeTwitName">
                          <a href="https://twitter.com/{{tweet.author}}">{{tweet.name}}</a>
                      </span>
                        @{{tweet.author}}
                    </div>
                    <p class="homeTwitText" linkify="twitter">
                      {{tweet.text}}
                    </p>
                    <!-- RT button -->
                    <div class="homeTwitButtons">

                      <!--Reply button-->
                      <button class="homeGlifaiconsRes" ng-click="replyDialog(tweet.tweetID, tweet.author, tweet.name)">
                        <i class="fa fa-reply homeGlifaiconsRES" aria-hidden="true"></i>
                      </button>

                      <span class="homeGlifaiconsRTNolink" ng-show="isSameUserAndAuthor(userInfo.accountName,tweet.author)">
                        <span class="glyphicon glyphicon-retweet homeGlifaiconsRTNoLink">
                        </span>
                        {{tweet.nRetweets}}
                      </span>

                      <button class="homeGlifaiconsNoRT" ng-click="createRetweet(tweet.tweetID,userInfo.accountID,tweet)" ng-show="RThasToShow(userInfo.accountName, tweet.author, tweet.rted, 1)">
                        <span class="glyphicon glyphicon-retweet">
                        </span>
                        {{tweet.nRetweets}}
                      </button>

                      <button class="homeGlifaiconsRT" ng-click="deleteRetweet(tweet.tweetID,userInfo.accountID,tweet)" ng-show="RThasToShow(userInfo.accountName, tweet.author, tweet.rted, 2)">
                        <span class="glyphicon glyphicon-retweet">
                        </span>
                        {{tweet.nRetweets}}
                      </button>

                      <!-- Fav button -->
                      <button class="homeGlifaiconsNoFAV" ng-click="createFav(tweet.tweetID, userInfo.accountID,tweet)" ng-show="!tweet.liked">
                        <span class="glyphicon glyphicon-heart">
                        </span>
                        {{tweet.nLikes}}
                      </button>

                      <button class="homeGlifaiconsFAV" ng-click="deleteFav(tweet.tweetID, userInfo.accountID,tweet)" ng-show="tweet.liked">
                        <span class="glyphicon glyphicon-heart">
                        </span>
                        {{tweet.nLikes}}
                      </button>
                      <!-- Tweet Info. Always shows up -->
                      <a class="homeGlifaiconsINFO" href={{tweet.tweetLink}} target="_blank">
                        <span class="glyphicon glyphicon-time homeGlifaiconsINFO">
                        </span>
                        {{tweet.date}}
                      </a>
                    </div>
                  </li>
                  <li>
                    <button ng-show="userInfo.TLPanel.hasMore" type="button" ng-click="loadMore('timeline','none')" class="btn btn-primary btn-md center-block" ng-disabled="isLoading('timeline','none')">
                      <i class="fa fa-spinner fa-spin fa-fw fa-lg" ng-show="isLoading('timeline','none')"></i>
                      <i class="fa fa-twitter" ng-show="!isLoading(userInfo.TLPanel.mongoID)"></i>
                      Load more
                    </button>
                    <i class="fa fa-twitter center-block fa-center-icon" ng-show="!userInfo.TLPanel.hasMore"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- Panel twitter -->
      </div> <!-- Col -->


      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-primary panel-twitter">
          <div class="panel-heading home-panel-heading">
            <div class="container homePanelRow">
              <div class="col-xs-12 homePanelRow">
                <div class="homeMentionClass">
                  <i class="fa fa-comment" aria-hidden="true"></i>
                </div>
                <div class="homeCurrentAccountText">
                  Menciones
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body home-panel-body">
            <div class="container homePanelRow">
              <div class="col-xs-12 homeZeroPadding">
                <ul class="list-group">
                  <li class="placeForButton" ng-show="userInfo.mentionsPanel.hasNewTweets">
                    <button ng-show="userInfo.mentionsPanel.hasNewTweets" type="button" ng-click="showNewTweets('mentions','none')" class="btn btn-primary btn-md center-block botonNuevosTweets">
                      <i class="fa fa-twitter" ng-show="userInfo.mentionsPanel.hasNewTweets"></i>
                      {{userInfo.mentionsPanel.newTweetsList.length}} new tweets
                    </button>
                  </li>
                  <li class="list-group-item homeZeroPadding" ng-repeat="tweet in userInfo.mentionsPanel.tweets">
                    <div class="homeTwitImgDiv">
                      <a href="https://twitter.com/{{tweet.author}}">
                        <img src={{tweet.imgLink}} class="imgPanel img-responsive" alt="Cinque Terre">
                      </a>
                    </div>
                    <div class="homeTwitUser" linkify="twitter">
                      <span class="homeTwitName">
                          <a href="https://twitter.com/{{tweet.author}}">{{tweet.name}}</a>
                      </span>
                        @{{tweet.author}}
                    </div>
                    <p class="homeTwitText" linkify="twitter">
                      {{tweet.text}}
                    </p>
                    <!-- RT button -->
                    <div class="homeTwitButtons">

                      <!--Reply button-->
                      <button class="homeGlifaiconsRes" ng-click="replyDialog(tweet.tweetID, tweet.author, tweet.name)">
                        <i class="fa fa-reply homeGlifaiconsRES" aria-hidden="true"></i>
                      </button>

                      <span class="homeGlifaiconsRTNolink" ng-show="isSameUserAndAuthor(userInfo.accountName,tweet.author)">
                        <span class="glyphicon glyphicon-retweet homeGlifaiconsRTNoLink">
                        </span>
                        {{tweet.nRetweets}}
                      </span>

                      <button class="homeGlifaiconsNoRT" ng-click="createRetweet(tweet.tweetID,userInfo.accountID,tweet)" ng-show="RThasToShow(userInfo.accountName, tweet.author, tweet.rted, 1)">
                        <span class="glyphicon glyphicon-retweet">
                        </span>
                        {{tweet.nRetweets}}
                      </button>

                      <button class="homeGlifaiconsRT" ng-click="deleteRetweet(tweet.tweetID,userInfo.accountID,tweet)" ng-show="RThasToShow(userInfo.accountName, tweet.author, tweet.rted, 2)">
                        <span class="glyphicon glyphicon-retweet">
                        </span>
                        {{tweet.nRetweets}}
                      </button>

                      <!-- Fav button -->
                      <button class="homeGlifaiconsNoFAV" ng-click="createFav(tweet.tweetID, userInfo.accountID,tweet)" ng-show="!tweet.liked">
                        <span class="glyphicon glyphicon-heart">
                        </span>
                        {{tweet.nLikes}}
                      </button>

                      <button class="homeGlifaiconsFAV" ng-click="deleteFav(tweet.tweetID, userInfo.accountID,tweet)" ng-show="tweet.liked">
                        <span class="glyphicon glyphicon-heart">
                        </span>
                        {{tweet.nLikes}}
                      </button>
                      <!-- Tweet Info. Always shows up -->
                      <a class="homeGlifaiconsINFO" href={{tweet.tweetLink}} target="_blank">
                        <span class="glyphicon glyphicon-time homeGlifaiconsINFO">
                        </span>
                        {{tweet.date}}
                      </a>
                    </div>
                  </li>
                  <li>
                    <button ng-show="userInfo.mentionsPanel.hasMore" type="button" ng-click="loadMore('mentions','none')" class="btn btn-primary btn-md center-block" ng-disabled="isLoading('mentions','none')">
                      <i class="fa fa-spinner fa-spin fa-fw fa-lg" ng-show="isLoading('mentions','none')"></i>
                      <i class="fa fa-twitter" ng-show="!isLoading(userInfo.mentionsPanel.mongoID)"></i>
                      Load more
                    </button>
                    <i class="fa fa-twitter center-block fa-center-icon" ng-show="!userInfo.mentionsPanel.hasMore"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- Panel twitter -->
      </div> <!-- Col -->


      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-primary panel-twitter">
          <div class="panel-heading home-panel-heading">
            <div class="container homePanelRow">
                <div class="col-xs-12 homePanelRow">
                  <div class="homeIconDiv">
                    <span class="glyphicon glyphicon-hourglass homeGlifaiconsCols"></span>
                  </div>
                  <div class="homeCurrentAccountText">
                    Programados
                  </div>
                </div>
            </div>
          </div>
          <div class="panel-body home-panel-body">
            <div class="container homePanelRow">
              <div class="col-xs-12 homeZeroPadding">
                <ul class="list-group">
                  <li class="list-group-item homeZeroPadding" ng-repeat="sch_tweet in scheduledTweets">
                    <p class="homeTwitText" linkify="twitter">
                      <b>Tweet:</b> {{sch_tweet.text}}
                    </p>
                    <p class="homeTwitText" >
                      <b>Fecha:</b> {{sch_tweet.date}}
                    </p>
                    <div class="homeTwitButtons">
                      <button ng-click="deleteScheduledTweet(sch_tweet._id)" class="homeGlifaiconsNoFAV" ><span class="glyphicon glyphicon-remove"></span> Eliminar</button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- Panel twitter -->
      </div> <!-- Col -->


      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-primary panel-twitter">
          <div class="panel-heading home-panel-heading">
            <div class="container homePanelRow">
              <div class="col-xs-12 homePanelRow">
                <div class="homeMentionClass">
                  <i class="fa fa-hashtag" aria-hidden="true"></i>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-8 homeCurrentAccountText">
                  Jejeje
                </div>
                <div class="col-md-3 col-sm-2 col-xs-2">
                  <button class="btn btn-default eliminarColumna"><span class="glyphicon glyphicon-remove"> </span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body home-panel-body">
            <div class="container homePanelRow">
              <div class="col-xs-12 homeZeroPadding">
                <ul class="list-group">
                  <li class="list-group-item homeZeroPadding">
                    <div class="homeTwitImgDiv">
                      <a href="#">
                        <img src="https://pbs.twimg.com/profile_images/721419863609208832/3aBTZgMZ_400x400.jpg" class="imgPanel img-responsive" alt="Cinque Terre">
                      </a>
                    </div>
                    <div class="homeTwitUser">
                      @MiPollaEnAlmibar
                    </div>
                    <p class="homeTwitText">
                      Lorem ipsumfjaj djdj dj djdjjjjs sjjsjjs s sjsjjsj sj jsj jsjjsjsjs sjsj sjsjs sjs js sjs sjs sjsjs jsjs sjs sjs fdssadf dfs dfs fsd sdf sdd
                    </p>
                    <div class="homeTwitButtons">
                      <a class="homeGlifaiconsRT" href="#"><span class="glyphicon glyphicon-retweet homeGlifaiconsRT"></span> 0 </a>
                      <a class="homeGlifaiconsFAV" href="#"><span class="glyphicon glyphicon-heart homeGlifaiconsFAV"></span> 0 </a>
                      <a class="homeGlifaiconsINFO" href="#"><span class="glyphicon glyphicon-time homeGlifaiconsINFO"></span> 30 Feb 2019 </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- Panel twitter -->
      </div> <!-- Col -->
      <div class="col-md-3 col-sm-4 col-xs-12" ng-show="!isAddingHashtag()">
        <div class="panel panel-default home-panel-add">
          <div class="homeAddPanelText">
            <button class="homeAddPanelButton" ng-click="setAddingHashtag(true)">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              <br/>
              Añadir Hashtag
            </button>
          </div>
        </div>  <!-- Panel add -->
      </div> <!-- Col -->
      <div class="col-md-3 col-sm-4 col-xs-12" ng-show="isAddingHashtag()">
        <div class="panel panel-primary panel-hashtag">
          <div class="panel-heading home-panel-heading">
            <div class="container homePanelRow">
              <div class="col-xs-12 homePanelRow">
                <div class="homeMentionClass">
                  <i class="fa fa-hashtag" aria-hidden="true"></i>
                </div>
                <div class="homeCurrentAccountText">
                  {{newHashtag}}
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body hashtag-panel-body">
            <div class="container homePanelRow">
              <div class="col-xs-12 homeZeroPadding">
                <ul class="list-group hashtag-list-group">
                  <li class="list-group-item">
                    <label>Añadir hashtag:</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">#</span>
                      <input type="text" class="form-control" placeholder="Hashtag" ng-model="newHashtag"
                             aria-describedby="basic-addon1" autofocus required>
                    </div>
                    <div class="col-md-offset-6 col-sm-offset-6 col-xs-offset-9">
                      <button class="btn btn-success botonHashtag glyphicon glyphicon-ok"
                              type="submit"
                              ng-disabled="validHashtag(newHashtag)"
                              ng-click="saveHashtag(newHashtag)">
                      </button>
                      <button class="btn btn-danger botonHashtag glyphicon glyphicon-remove"
                              type="submit"
                              ng-click="setAddingHashtag(false)">
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- Panel twitter -->
      </div> <!-- Col -->
      <!--
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-default home-panel-add">
          <div class="homeAddPanelText">
            <a href="#" class="homeAddPanelButton">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              <br>
              Add account
            </a>
          </div>
        </div>  Panel add
      </div>  Col -->
    </div> <!-- Row -->
  </div> <!-- Site wrapper-->
</div>
