.imagenTweet{
    height: 40px;
    padding: 1px;
}

.imagenTweetImg{
    width:auto;
    height:100%;
}

.formTweet{
    height: 40px;
}

.formTweetExpanded{
    width: 100%;
}

.fechaTiempo{
    padding-top: 6px;
}

.botonEnviar{
    margin-top: 3px;
}

.botonEnviar.hover{
  cursor:hand;
}
.caracteresRestantesCol{
  padding-left:0px;
  padding-right:20px;
}

.caracteresRestantes{
    color: #9d9d9d;
    font-size: large;
    margin-top: 10px !important;
}

.account-tweet-button-row{
  padding-right:15px;
}

.redText{
  color:red;
}

.dentrocaja{
    height: 50px;
}

.botonHashtag{
    margin-top: 5px;
}

.panel-hashtag{
    margin-top:20px;
    border:0px;
}

.hashtag-panel-body{
    padding:0;
    overflow-y:auto;
}

.hashtag-list-group{
    margin-bottom : 0px;
}

.homeAddPanelButton:single-button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
}

.eliminarColumna{
    color: white !important;
    background-color: transparent !important;
    border: none !important;
}

.eliminarColumna:hover{
    color: darkgrey !important;
}

.menuarriba{
    color:darkgrey;
    padding:0px;
}

.menuarriba:hover{
    color:dodgerblue;
}