<div class="home-body-main">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand marca" href="/">
                    <span>
                        <img alt="FelinoTweets logo" src="/assets/favicon/favicon-32x32.png"/>
                    </span>
          <a class="navbar-brand brand" href="/main">FelinoTweets</a>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <a class="navbar-brand" href="/home">
          <span class="glyphicon glyphicon-home"></span>  Home</a>
        <a class="navbar-brand" href="/homeStats">
          <span class="glyphicon glyphicon-stats"></span>  Estadísticas</a>
        <a class="navbar-brand barraSelected" href="/account">
          <span class="fa fa-at"></span>  Cuenta</a>
        <form class="navbar-form navbar-right">
          <a href="/" ng-click="logOut()" class="btn btn-danger">Salir</a>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <div class="site-wrapper" id="home-wrap">
    <div class="container homeMainView">
      <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="input-group formTweetExpanded">
              <textarea ng-trim="false" class="form-control formTweetExpanded" rows="3" placeholder="¿Qué está pasando?" style="resize:none" ng-model="tweet">
              </textarea>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-3 col-xs-1 account-programar-tweet">
                <div class="fechaTiempo">
                  <label>Programar tweet: </label>
                  <input id="input-datetime-local" type="datetime-local" value="">
                  <span class="result"></span>
                </div>
              </div>
              <div class="col-lg-offset-3 col-lg-3 col-md-offset-2 col-md-3 col-sm-offset-5 col-sm-3 col-xs-offset-5 col-xs-3">
                <div class="row account-tweet-button-row">
                  <div class="col-md-1 col-md-offset-3 col-sm-1 col-sm-offset-2 col-xs-1 caracteresRestantesCol">
                    <span class="caracteresRestantes">
                      <div ng-class"{'redText': true}">
                        <p>
                          {{140 - tweet.length}} &nbsp &nbsp
                        </p>
                      </div>
                    </span>
                  </div>
                  <div class="col-xs-1 col-md-1 col-sm-1 ">
                    <button ng-disabled="canTweet(140-tweet.length)" ng-click="" class="btn btn-primary botonEnviar"><i class="fa fa-twitter" aria-hidden="true"></i> Twittear</button>
                  </div>
                </div> <!-- Row for both elements -->
              </div> <!-- Col for characters remaining and button -->
            </div> <!-- Row under text for tweet -->


            <!--    NO BORRAR
              <div class="input-group">
                <span class="input-group-addon imagenTweet" id="sizing-addon2"><img class="imagenTweetImg" src="https://pbs.twimg.com/profile_images/471939443297755136/d99B1Syp.jpeg"/></span>
                <input type="text" class="form-control formTweet" placeholder="¿Qué está pasando?">
              </div>-->
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-primary panel-twitter">
          <div class="panel-heading home-panel-heading">
            <div class="container homePanelRow">
                <div class="col-xs-12 homePanelRow">
                  <div class="homeIconDiv">
                    <span class="glyphicon glyphicon-home homeGlifaiconsCols"></span>
                  </div>
                  <div class="homeCurrentAccountText">
                    Home
                  </div>
                </div>
            </div>
          </div>
          <div class="panel-body home-panel-body">
            <div class="container homePanelRow">
              <div class="col-xs-12 homeZeroPadding">
                <ul class="list-group">
                  <li class="list-group-item homeZeroPadding">
                    <div class="homeTwitImgDiv">
                      <a href="#">
                        <img src="https://pbs.twimg.com/profile_images/721419863609208832/3aBTZgMZ_400x400.jpg" class="imgPanel img-responsive" alt="Cinque Terre">
                      </a>
                    </div>
                    <div class="homeTwitUser">
                      @MiPollaEnAlmibar
                    </div>
                    <p class="homeTwitText">
                      Lorem ipsumfjaj djdj dj djdjjjjs sjjsjjs s sjsjjsj sj jsj jsjjsjsjs sjsj sjsjs sjs js sjs sjs sjsjs jsjs sjs sjs fdssadf dfs dfs fsd sdf sdd
                    </p>
                    <div class="homeTwitButtons">
                      <a class="homeGlifaiconsRT" href="#"><span class="glyphicon glyphicon-retweet homeGlifaiconsRT"></span> 0 </a>
                      <a class="homeGlifaiconsFAV" href="#"><span class="glyphicon glyphicon-heart homeGlifaiconsFAV"></span> 0 </a>
                      <a class="homeGlifaiconsINFO" href="#"><span class="glyphicon glyphicon-time homeGlifaiconsINFO"></span> 30 Feb 2019 </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- Panel twitter -->
      </div> <!-- Col -->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-primary panel-twitter">
          <div class="panel-heading home-panel-heading">
            <div class="container homePanelRow">
                <div class="col-xs-12 homePanelRow">
                  <div class="homeIconDiv">
                    <span class="glyphicon glyphicon-list-alt homeGlifaiconsCols"></span>
                  </div>
                  <div class="homeCurrentAccountText">
                    Mis Tweets
                  </div>
                </div>
            </div>
          </div>
          <div class="panel-body home-panel-body">
            <div class="container homePanelRow">
              <div class="col-xs-12 homeZeroPadding">
                <ul class="list-group">
                  <li class="list-group-item homeZeroPadding">
                    <div class="homeTwitImgDiv">
                      <a href="#">
                        <img src="https://pbs.twimg.com/profile_images/721419863609208832/3aBTZgMZ_400x400.jpg" class="imgPanel img-responsive" alt="Cinque Terre">
                      </a>
                    </div>
                    <div class="homeTwitUser">
                      @MiPollaEnAlmibar
                    </div>
                    <p class="homeTwitText">
                      Lorem ipsumfjaj djdj dj djdjjjjs sjjsjjs s sjsjjsj sj jsj jsjjsjsjs sjsj sjsjs sjs js sjs sjs sjsjs jsjs sjs sjs fdssadf dfs dfs fsd sdf sdd
                    </p>
                    <div class="homeTwitButtons">
                      <a class="homeGlifaiconsRT" href="#"><span class="glyphicon glyphicon-retweet homeGlifaiconsRT"></span> 0 </a>
                      <a class="homeGlifaiconsFAV" href="#"><span class="glyphicon glyphicon-heart homeGlifaiconsFAV"></span> 0 </a>
                      <a class="homeGlifaiconsINFO" href="#"><span class="glyphicon glyphicon-time homeGlifaiconsINFO"></span> 30 Feb 2019 </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- Panel twitter -->
      </div> <!-- Col -->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-primary panel-twitter">
          <div class="panel-heading home-panel-heading">
            <div class="container homePanelRow">
                <div class="col-xs-12 homePanelRow">
                  <div class="homeIconDiv">
                    <span class="glyphicon glyphicon-hourglass homeGlifaiconsCols"></span>
                  </div>
                  <div class="homeCurrentAccountText">
                    Programados
                  </div>
                </div>
            </div>
          </div>
          <div class="panel-body home-panel-body">
            <div class="container homePanelRow">
              <div class="col-xs-12 homeZeroPadding">
                <ul class="list-group">
                  <li class="list-group-item homeZeroPadding">
                    <div class="homeTwitImgDiv">
                      <a href="#">
                        <img src="https://pbs.twimg.com/profile_images/721419863609208832/3aBTZgMZ_400x400.jpg" class="imgPanel img-responsive" alt="Cinque Terre">
                      </a>
                    </div>
                    <div class="homeTwitUser">
                      @MiPollaEnAlmibar
                    </div>
                    <p class="homeTwitText">
                      Lorem ipsumfjaj djdj dj djdjjjjs sjjsjjs s sjsjjsj sj jsj jsjjsjsjs sjsj sjsjs sjs js sjs sjs sjsjs jsjs sjs sjs fdssadf dfs dfs fsd sdf sdd
                    </p>
                    <div class="homeTwitButtons">
                      <a class="homeGlifaiconsRT" href="#"><span class="glyphicon glyphicon-retweet homeGlifaiconsRT"></span> 0 </a>
                      <a class="homeGlifaiconsFAV" href="#"><span class="glyphicon glyphicon-heart homeGlifaiconsFAV"></span> 0 </a>
                      <a class="homeGlifaiconsINFO" href="#"><span class="glyphicon glyphicon-time homeGlifaiconsINFO"></span> 30 Feb 2019 </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- Panel twitter -->
      </div> <!-- Col -->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-primary panel-twitter">
          <div class="panel-heading home-panel-heading">
            <div class="container homePanelRow">
                <div class="col-xs-12 homePanelRow">
                  <div class="homeMentionClass">
                    <i class="fa fa-comment" aria-hidden="true"></i>
                  </div>
                  <div class="homeCurrentAccountText">
                    Menciones
                  </div>
                </div>
            </div>
          </div>
          <div class="panel-body home-panel-body">
            <div class="container homePanelRow">
              <div class="col-xs-12 homeZeroPadding">
                <ul class="list-group">
                  <li class="list-group-item homeZeroPadding">
                    <div class="homeTwitImgDiv">
                      <a href="#">
                        <img src="https://pbs.twimg.com/profile_images/721419863609208832/3aBTZgMZ_400x400.jpg" class="imgPanel img-responsive" alt="Cinque Terre">
                      </a>
                    </div>
                    <div class="homeTwitUser">
                      @MiPollaEnAlmibar
                    </div>
                    <p class="homeTwitText">
                      Lorem ipsumfjaj djdj dj djdjjjjs sjjsjjs s sjsjjsj sj jsj jsjjsjsjs sjsj sjsjs sjs js sjs sjs sjsjs jsjs sjs sjs fdssadf dfs dfs fsd sdf sdd
                    </p>
                    <div class="homeTwitButtons">
                      <a class="homeGlifaiconsRT" href="#"><span class="glyphicon glyphicon-retweet homeGlifaiconsRT"></span> 0 </a>
                      <a class="homeGlifaiconsFAV" href="#"><span class="glyphicon glyphicon-heart homeGlifaiconsFAV"></span> 0 </a>
                      <a class="homeGlifaiconsINFO" href="#"><span class="glyphicon glyphicon-time homeGlifaiconsINFO"></span> 30 Feb 2019 </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- Panel twitter -->
      </div> <!-- Col -->
      <!--
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-default home-panel-add">
          <div class="homeAddPanelText">
            <a href="#" class="homeAddPanelButton">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              <br>
              Add account
            </a>
          </div>
        </div>  Panel add
      </div>  Col -->
    </div> <!-- Row -->
  </div> <!-- Site wrapper-->
</div>
