#home-wrap{
  margin:0 auto;
}

.home-body-main {
  background: url(../../assets/images/cover_background.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-panel-heading{
  padding:0px;
  max-height:100px;
}

.homeMainView{
  padding-left:5px;
  padding-right:5px;
}

.homeImgDiv{
  width:50px;
  float:left !important;
  margin-right: 8px;
  margin-left: 5px;
  margin-top:5px;
}

.homeIconDiv{
  float:left !important;
  margin-right: 8px;
  margin-left: 8px;
  margin-top:5px;
}

.homeTwitImgDiv{
  width:30px;
  float:left !important;
  margin-right: 3px;
  margin-left: 5px;
  margin-top:2px;
}

.homePanelRow{
  width:100%;
  padding-left:5px;
  margin-top:2px;
  margin-bottom:0px;
  padding:0px;
}

.cuentaText{
  font-size:large;
  overflow:hidden;
  text-overflow:ellipsis;
  padding-left:0;
  text-align:left;
  margin-left:0;
  margin-right:0 !important;
}

.descriptionText{
  text-align:left;
  width:100%;
  margin-left:8px;
  padding-right:20px;
  font-size:x-small;
  word-wrap:break-word;
  margin-bottom:3px;
}

.panel-twitter{
  margin-top:20px;
  border:0px;
  height:550px;
}

.home-panel-body{
  max-height:450px !important;
  padding:0;
  overflow-y:auto;
}

.homeTwitName{
  color:black;
}

.homeTwitName a{
  color:black !important;
  font-weight: bold;
  font-size: small;
}

.homeTwitUser{
  color:gray;
  text-align:left;
  font-size:x-small;
}

.homeTwitText{
  color:black;
  text-align:left;
  font-size: small;
  margin-left:5px;
  margin-bottom:0px;
}

.homeGlifaiconsRT{
  color:green;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsRT:hover{
  color:green;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsNoRT{
  color:gray;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsNoRT:hover{
  color:green;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsRTNolink{
  color:#C8C8C8;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsNoFAV{
  color:gray;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsNoFAV:hover{
  color:red;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsFAV{
  color:red;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsFAV:hover{
  color:red;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsINFO{
  color:gray;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsINFO:hover{
  color:gray;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeTwitButtons{
  font-size: small;
  color:black;
  text-align:center;
}

.homeZeroPadding{
  padding:0;
}

.home-panel-add{
  background-color:rgba(10, 10, 10, 0.2);
  margin-top:20px;
  min-height:550px;
}

.homeAddPanelText{
  font-size:large;
  vertical-align:middle;
  margin-top:225px;
  text-decoration:none;
  color:white;
  text-align:center;
}

.homeAddPanelButton{
  text-decoration:none;
  font-size:x-large;
  color:white;
  text-align:center;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  outline:none;
}

.homeAddPanelButton:visited, .homeAddPanelButton:link, .homeAddPanelButton:active{
  text-decoration:none;
  font-size:x-large;
  color:white;
  text-align:center;
}

.homeAddPanelButton:hover{
  text-decoration:none;
  font-size:x-large;
  color:cornflowerblue;
  text-align:center;
}

.homeGlifaiconsCols{
  font-size:large;
}

.homeCurrentAccountText{
  font-size:large;
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  padding-left:0;
  text-align:left;
  margin-left:0;
  margin-right:0 !important;
}

.homeMentionClass{
  font-size:large;
  /*width:50px;*/
  float:left !important;
  margin-right: 8px;
  margin-left: 5px;
  margin-top:0px;
}

.eliminarCuenta{
  color: darkgrey !important;
  background-color: transparent !important;
  border: none !important;
  padding: 3px !important;
}

.eliminarCuenta:hover{
  color: red !important;
}

.fa-center-icon{
  text-align:center;
  display:inline-block;
  width:100%;
}
