<div class="home-body-main">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand marca" href="/">
                    <span>
                        <img alt="FelinoTweets logo" src="/assets/favicon/favicon-32x32.png"/>
                    </span>
          <a class="navbar-brand brand" href="/main">FelinoTweets</a>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <a class="navbar-brand navbar-buttons barraSelected" href="/home">
          <span class="glyphicon glyphicon-home"></span>  Home</a>
        <a class="navbar-brand navbar-buttons" href="/homeStats">
          <span class="glyphicon glyphicon-stats"></span>  Estadísticas</a>
        <form class="navbar-form navbar-right">
          <a href="/" ng-click="logOut()" class="btn btn-danger">Salir</a>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <div class="site-wrapper" id="home-wrap">
    <div class="container homeMainView">
      <!-- Repeat this shit -->
      <div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="pan in panels">
        <div class="panel panel-default panel-twitter">
          <div class="panel-heading home-panel-heading">
            <div class="container homePanelRow">
                <div class="col-xs-12 homePanelRow">
                  <div class="homeImgDiv">
                    <a href="/account/{{pan.mongoID}}">
                      <img src={{pan.imgLink}} class="imgPanel img-responsive img-circle" alt="Profile pic">
                    </a>
                  </div>
                  <div class="col-md-offset-3 col-md-7 cuentaText">
                    <a href="/account/{{pan.mongoID}}">
                      @{{ pan.user }}
                    </a>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2">
                    <i class="fa fa-spinner fa-spin fa-fw fa-lg" ng-show="isDeleting(pan.mongoID)"></i>
                    <button class="btn btn-default eliminarCuenta" ng-show="!isDeleting(pan.mongoID)" ng-click="deleteAccount(pan.mongoID)">
                      <span class="glyphicon glyphicon-remove" ng-show="!isDeleting(pan.mongoID)"> </span>
                    </button>
                  </div>
                    <p class="descriptionText">
                      {{ pan.desc }}
                    </p>
                </div>
            </div>
          </div>
          <div class="panel-body home-panel-body">
            <div class="container homePanelRow">
              <div class="col-xs-12 homeZeroPadding">
                <ul class="list-group">
                  <li class="list-group-item homeZeroPadding" ng-repeat="tweet in pan.tweets">
                    <div class="homeTwitImgDiv">
                      <a href="https://twitter.com/{{tweet.author}}">
                        <img src={{tweet.imgLink}} class="imgPanel img-responsive" alt="Cinque Terre">
                      </a>
                    </div>
                    <div class="homeTwitUser" linkify="twitter">
                      <span class="homeTwitName">
                          <a href="https://twitter.com/{{tweet.author}}">{{tweet.name}}</a>
                      </span>
                        @{{tweet.author}}
                    </div>
                    <p class="homeTwitText" linkify="twitter">
                      {{tweet.text}}
                    </p>
                    <!-- RT button -->
                    <div class="homeTwitButtons">
                      <span class="homeGlifaiconsRTNolink" ng-show="isSameUserAndAuthor(pan.user,tweet.author)">
                        <span class="glyphicon glyphicon-retweet homeGlifaiconsRTNoLink">
                        </span>
                        {{tweet.nRetweets}}
                      </span>

                      <a class="homeGlifaiconsNoRT" href="#" ng-show="RThasToShow(pan.user, tweet.author, tweet.rted, 1)">
                        <span class="glyphicon glyphicon-retweet">
                        </span>
                        {{tweet.nRetweets}}
                      </a>

                      <a class="homeGlifaiconsRT" href="#" ng-show="RThasToShow(pan.user, tweet.author, tweet.rted, 2)">
                        <span class="glyphicon glyphicon-retweet">
                        </span>
                        {{tweet.nRetweets}}
                      </a>

                      <!-- Fav button -->
                      <a class="homeGlifaiconsNoFAV" href="#" ng-show="!tweet.liked">
                        <span class="glyphicon glyphicon-heart">
                        </span>
                        {{tweet.nLikes}}
                      </a>

                      <a class="homeGlifaiconsFAV" href="#" ng-show="tweet.liked">
                        <span class="glyphicon glyphicon-heart">
                        </span>
                        {{tweet.nLikes}}
                      </a>
                      <!-- Tweet Info. Always shows up -->
                      <a class="homeGlifaiconsINFO" href={{tweet.tweetLink}} target="_blank">
                        <span class="glyphicon glyphicon-time homeGlifaiconsINFO">
                        </span>
                        {{tweet.date}}
                      </a>
                    </div>
                  </li>
                  <li>
                    <button ng-show="pan.hasMore" type="button" ng-click="loadMore(pan.mongoID, -1)" class="btn btn-primary btn-md center-block" ng-disabled="isLoading(pan.mongoID)">
                      <i class="fa fa-spinner fa-spin fa-fw fa-lg" ng-show="isLoading(pan.mongoID)"></i>
                      <i class="fa fa-twitter" ng-show="!isLoading(pan.mongoID)"></i>
                      Load more
                    </button>
                    <i class="fa fa-twitter center-block fa-center-icon" ng-show="!pan.hasMore"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- Panel twitter -->
      </div> <!-- Col -->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-default home-panel-add">
          <div class="homeAddPanelText">
            <a target="_blank" href="/twitter/auth" class="homeAddPanelButton">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              <br>
              Add account
            </a>
          </div>
        </div>  <!-- Panel add -->
      </div> <!-- Col -->
    </div> <!-- Row -->
  </div> <!-- Site wrapper-->
</div>
