#home-wrap{
  margin:0 auto;
}

.home-body-main {
  background: url(../../assets/images/cover_background.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-panel-heading{
  padding:0px;
  height:100%;
}

.homeMainView{
  padding-left:5px;
  padding-right:5px;
}

.homeImgDiv{
  width:50px;
  float:left !important;
  margin-right: 8px;
  margin-left: 5px;
  margin-top:5px;
}

.homeTwitImgDiv{
  width:30px;
  float:left !important;
  margin-right: 3px;
  margin-left: 5px;
  margin-top:2px;
}

.homePanelRow{
  width:inherit;
  padding-left:5px;
  margin-top:2px;
  margin-bottom:2px;
}

.cuentaText{
  font-size:large;
  overflow:hidden;
  text-overflow:ellipsis;
  padding-left:0;
  text-align:left;
  margin-left:0;
  margin-right:0 !important;
}

.descriptionText{
  text-align:left;
  width:100%;
  margin-left:8px;
  padding-right:20px;
  font-size:small;
}

.panel-twitter{
  margin-top:20px;
  border:0px;
  min-height:550px;
}

.home-panel-body{
  height:400px !important;
  padding:0;
  overflow-y:auto;
}

.home-panel-heading{
  min-height:100%;
}

.homePanelRow{
  padding:0px;
}

.homeTwitUser{
  color:gray;
  text-align:left;
  font-size:x-small;
}

.homeTwitText{
  color:black;
  text-align:left;
  font-size:small;
  margin-left:5px;
  margin-bottom:0px;
}

.homeGlifaiconsRT{
  color:green;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsRT:hover{
  color:green;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsFAV{
  color:red;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsFAV:hover{
  color:red;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsINFO{
  color:gray;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeGlifaiconsINFO:hover{
  color:gray;
  vertical-align:middle;
  padding-bottom:5px;
}

.homeTwitButtons{
  color:black;
}

.homeZeroPadding{
  padding:0;
}

.home-panel-add{
  background-color:rgba(10, 10, 10, 0.2);
  margin-top:20px;
  min-height:550px;
}

.homeAddPanelText{
  font-size:xx-large;
  vertical-align:middle;
  margin-top:225px;
  text-decoration:none;
}

.homeAddPanelButton{
  text-decoration:none;
}

.homeAddPanelButton:visited, .homeAddPanelButton:link, .homeAddPanelButton:active{
  text-decoration:none;
}

.homeAddPanelButton:hover{
  text-decoration:none;
  color:blue;
}

.homeGlifaiconsCols{
  font-size:xx-large;
}

.homeCurrentAccountText{
  font-size:xx-large;
  overflow:hidden;
  text-overflow:ellipsis;
  padding-left:0;
  text-align:left;
  margin-left:0;
  margin-right:0 !important;
}

.homeMentionClass{
  width:50px;
  float:left !important;
  margin-right: 8px;
  margin-left: 5px;
  margin-top:0px;
}
