<div class="admin">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand marca" href="/">
                    <span>
                        <img alt="FelinoTweets logo" src="/assets/favicon/favicon-32x32.png"/>
                    </span>
                    <a class="navbar-brand brand" href="/main">FelinoTweets</a>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <a class="navbar-brand" href="/admin">
                    <span class="glyphicon glyphicon-home"></span>  Home</a>
                <a class="navbar-brand" href="/adminStats">
                    <span class="glyphicon glyphicon-stats"></span>  Estadísticas</a>
                <form class="navbar-form navbar-right">
                    <a href="/logout" class="btn btn-danger">Logout</a>
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <div class="container list">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <form class="form-inline">
                    <div class="form-group cabecera">
                        <p class="titulo"><b>ESTADÍSTICAS</b></p>
                    </div><!-- /input-group -->
                </form>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <form class="form-inline">
                                <div class="form-group cabecera">
                                    <p class="titulo"><b>Estadística 1</b></p>
                                </div><!-- /input-group -->
                            </form>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <form class="form-inline">
                                <div class="form-group cabecera">
                                    <p class="titulo"><b>Estadística 2</b></p>
                                </div><!-- /input-group -->
                            </form>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <form class="form-inline">
                                <div class="form-group cabecera">
                                    <p class="titulo"><b>Estadísitca 3</b></p>
                                </div><!-- /input-group -->
                            </form>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <form class="form-inline">
                                <div class="form-group cabecera">
                                    <p class="titulo"><b>Estadística 4</b></p>
                                </div><!-- /input-group -->
                            </form>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
