<div class="admin">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand marca" href="/">
                    <span>
                        <img alt="FelinoTweets logo" src="/assets/favicon/favicon-32x32.png"/>
                    </span>
                    <a class="navbar-brand brand" href="/main">FelinoTweets</a>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <a class="navbar-brand barraSelected" href="/admin">
                    <span class="glyphicon glyphicon-home"></span>  Home</a>
                <a class="navbar-brand" href="/adminStats">
                    <span class="glyphicon glyphicon-stats"></span>  Estadísticas</a>
                <form class="navbar-form navbar-right">
                    <a href="/" ng-click="logOut()" class="btn btn-danger">Salir</a>
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <div class="container list">
        <div class="panel panel-primary">

            <!-- Cabecera panel -->
            <div class="panel-heading form-inline">
                <div class="form-group cabecera">
                  <label for="searchInput" class="col-md-3 col-sm-5 col-xs-12 titulo"><b>LISTADO DE USUARIOS</b></label>
                  <div class="input-group search col-md-offset-6 col-sm-offset-3 col-md-3 col-sm-4 col-xs-12">
                      <input ng-model="query" type="text" id="searchInput" class="form-control" placeholder="Buscar usuario...">
                  </div>
                </div><!-- /input-group -->
            </div>

            <div ng-repeat="user in users | filter:{email:query}">

              <!-- Email button -->
              <button class="list-group-item"
                    ng-click="toggleSelected($index, user)"
                    type="button">
                    {{ user.email }}
                <span class="iconlist glyphicon glyphicon-triangle-bottom">
                </span>
              </button>

              <div class="clearfix visible-xs"></div>
              <div class="clearfix visible-sm"></div>
              <div class="clearfix visible-md"></div>
              <div class="clearfix visible-lg"></div>

              <div ng-show="isSelected($index)" class="list-group-item">
                <form class="form-horizontal">

                  <div class="row">

                    <!-- User's first name -->
                    <div class="form-group">
                      <label for="fn"
                             class="control-label col-sm-3">Nombre</label>
                      <div class="col-sm-4">

                        <input id="fn"
                               ng-show="isEditing($index)"
                               ng-model="editingUser.first_name"
                               class="form-control"
                               type="text">

                        <input id="fn"
                               ng-show="!isEditing($index)"
                               ng-model="editingUser.first_name"
                               class="form-control"
                               type="text"
                               disabled>
                      </div>
                    </div>

                    <!-- User's last name -->
                    <div class="form-group">
                      <label for="ln"
                             class="control-label col-sm-3">Apellidos</label>
                      <div class="col-sm-4">

                        <input id="ln"
                               ng-show="isEditing($index)"
                               ng-model="editingUser.last_name"
                               class="form-control"
                               type="text">

                        <input id="ln"
                               ng-show="!isEditing($index)"
                               ng-model="editingUser.last_name"
                               class="form-control"
                               type="text"
                               disabled>
                      </div>
                    </div>
                  </div>

                  <!-- User's Registration date -->
                  <div class="form-group">
                    <label for="reg"
                           class="control-label col-sm-3">Fecha de registro</label>
                    <div class="col-sm-4">
                      <input id="reg"
                             class="form-control"
                             type="text"
                             ng-model="editingUser.registration_date"
                             disabled>
                    </div>
                  </div>

                  <!-- User's last access date -->
                  <div class="form-group">
                    <label for="last"
                           class="control-label col-sm-3">Último acceso</label>
                    <div class="col-sm-4">
                      <input id="last"
                             class="form-control"
                             type="text"
                             ng-model="editingUser.last_access_date"
                             disabled>
                    </div>
                  </div>

                  <!-- Number of tweets sent by user -->
                  <div class="form-group">
                    <label for="tweets"
                           class="control-label col-sm-3">Tweets enviados</label>
                    <div class="col-sm-4">
                      <input id="tweets"
                             class="form-control"
                             type="text"
                             value="Aproximadamente un gritón"
                             disabled>
                    </div>
                  </div>

                  <!-- User's twitter accounts -->
                  <div class="form-group">
                    <label for="accounts"
                           class="control-label col-sm-3">Cuentas de twitter</label>
                    <div class="col-sm-4">
                      <input id="accounts"
                             class="form-control"
                             type="text"
                             value="chorrocientas"
                             disabled>
                    </div>
                  </div>

                  <!-- Form operations buttons -->
                  <div class="col-md-1 col-sm-2 col-xs-2
                  col-md-offset-10 col-sm-offset-8 col-xs-offset-8">

                      <!-- Edit button -->
                      <button ng-show="!isEditing($index)"
                              ng-click="toggleEditing($index, user)"
                              class="btn btn-info botonlistado glyphicon glyphicon-pencil"
                              type="button">
                      </button>

                      <!-- Save changes button -->
                      <button ng-show="isEditing($index)"
                              ng-click="updateUser(user._id); toggleEditing($index, user)"
                              class="btn btn-success botonlistado glyphicon glyphicon-ok"
                              type="button">
                      </button>
                  </div>

                  <div class="col-md-1 col-sm-2 col-xs-2">

                    <!-- Delete button -->
                    <button ng-show="!isEditing($index)"
                            ng-click="deleteUser(user._id)"
                            class="btn btn-danger botonlistado glyphicon glyphicon-trash"
                            type="button">
                    </button>

                    <!-- Cancel changes button -->
                    <button ng-show="isEditing($index)"
                            ng-click="toggleEditing($index, user)"
                            class="btn btn-danger botonlistado glyphicon glyphicon-remove"
                            type="button">
                    </button>
                  </div>
                </form>

                <div class="clearfix visible-xs"></div>
                <div class="clearfix visible-sm"></div>
                <div class="clearfix visible-md"></div>
                <div class="clearfix visible-lg"></div>
              </div>
            </div>
            <!-- Loop's end -->

          </div>
        </div>
    </div>
</div>
