<div class="admin">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <span>
                        <img alt="FelinoTweets logo" src="/assets/favicon/favicon-32x32.png"/>
                    </span>
                    <a class="navbar-brand brand" href="/">FelinoTweets</a>
                </a>

                </a>
                <!--<a class="navbar-brand" href="/">FelinoTweets</a>-->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-form navbar-right">
                    <a href="/login" class="btn btn-default">Entrar</a>
                    <a href="/register" class="btn btn-primary">Registrarse</a>
                </div>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <div class="container list">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <form class="form-inline">
                    <div class="form-group cabecera">
                        <label for="searchInput" class="col-md-3 col-sm-5 col-xs-9 titulo"><b>LISTADO DE USUARIOS</b></label>
                        <div class="input-group search col-md-offset-6 col-sm-offset-3 col-md-3 col-sm-4 col-xs-12">
                            <input type="text" id="searchInput" class="form-control" placeholder="Buscar usuario...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go</button>
                            </span>
                        </div>
                    </div><!-- /input-group -->
                </form>
            </div>
            <div class="list-group">
                <div class=" list-group-item form-inline">
                    <div class="col-md-11 col-sm-10 col-xs-10">
                        <button type="button" class="list-group-item listado">
                            alejandromarquez_94@hotmail.com
                            <span class="iconlist glyphicon glyphicon-triangle-bottom"></span>

                        </button>
                    </div>
                    <div class="col-md-1 col-sm-2 col-xs-2">
                        <button class="btn btn-danger botonlistado glyphicon glyphicon-trash" type="button"></button>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="clearfix visible-sm"></div>
                    <div class="clearfix visible-md"></div>
                    <div class="clearfix visible-lg"></div>
                </div>
                <div class=" list-group-item form-inline">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default paneles">
                            <div class="panel-body paneles">
                                <ul class="list-group paneles">
                                    <li class="list-group-item col-md-6">
                                        <p>
                                            <label>Nombre:</label>
                                            Alejandro
                                        </p>
                                    </li>
                                    <li class="list-group-item col-md-6">
                                        <p>
                                            <label>Apellidos:</label>
                                            Márquez Ferrer
                                        </p>
                                    </li>
                                    <li class="list-group-item col-md-6">
                                        <p>
                                            <label>Fecha de alta:</label>
                                            12-12-2004
                                        </p>
                                    </li>
                                    <li class="list-group-item col-md-6">
                                        <p>
                                            <label>Fecha de último acceso:</label>
                                            12-12-2005
                                        </p>
                                    </li>
                                    <li class="list-group-item col-md-6">
                                        <p>
                                            <label>Tweets enviados desde FelinoTweets:</label>
                                            459
                                        </p>
                                    </li>
                                    <li class="list-group-item col-md-12">
                                        <p>
                                            <label>Cuentas de Twitter:</label>
                                        </p>
                                        <ul class="list-group paneles">
                                            <li class="listacuenta col-md-6"><a href="http://twitter.com/a_marquez94">@A_Marquez94</a></li>
                                            <li class="listacuenta col-md-offset-1 col-md-4"><a href="http://twitter.com/a_marquez94">@A_Marquez94</a></li>
                                            <li class="listacuenta col-md-6"><a href="http://twitter.com/a_marquez94">@A_Marquez94</a></li>
                                            <li class="listacuenta col-md-offset-1 col-md-4"><a href="http://twitter.com/a_marquez94">@A_Marquez94</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="clearfix visible-sm"></div>
                    <div class="clearfix visible-md"></div>
                    <div class="clearfix visible-lg"></div>
                </div>
                <div class=" list-group-item form-inline">
                    <div class="col-md-11 col-sm-10 col-xs-10">
                        <button type="button" class="list-group-item listado">
                            alejandromarquez_94@hotmail.com
                            <span class="iconlist glyphicon glyphicon-triangle-bottom"></span>

                        </button>
                    </div>
                    <div class="col-md-1 col-sm-2 col-xs-2">
                        <button class="btn btn-danger botonlistado glyphicon glyphicon-trash" type="button"></button>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="clearfix visible-sm"></div>
                    <div class="clearfix visible-md"></div>
                    <div class="clearfix visible-lg"></div>
                </div>
                <div class=" list-group-item form-inline">
                    <div class="col-md-11 col-sm-10 col-xs-10">
                        <button type="button" class="list-group-item listado">
                            alejandromarquez_94@hotmail.com
                            <span class="iconlist glyphicon glyphicon-triangle-bottom"></span>

                        </button>
                    </div>
                    <div class="col-md-1 col-sm-2 col-xs-2">
                        <button class="btn btn-danger botonlistado glyphicon glyphicon-trash" type="button"></button>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="clearfix visible-sm"></div>
                    <div class="clearfix visible-md"></div>
                    <div class="clearfix visible-lg"></div>
                </div>

            </div>
        </div>

    </div>

</div>
